*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
ul,li{
  list-style: none;
  margin: 0;
}
header{
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
}
.headerInner{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  padding: 10px 0 1px 0;
}
.branch-p{
  margin-block-start: 0;
  margin-block-end: 0;
}
.brand{
  margin-top: 0;
  padding: 0 18px;
  display: inline-block;
  font-weight: bold;
  line-height: 1.5;
  font-size: 30px;
  color: #d3e5eb;
}
.headNav{
  vertical-align: middle;
  align-items: flex-end;
  margin: 0 0 0 auto;
}
.headNav li{
  float: left;
  text-align: center;
  vertical-align: middle;
  width: 120px;
}
.headNav a{
  display: block;
  line-height: 2.5;
  color: #d3e5eb;
}
.navItem{
  position: relative;
}
.navItem a {
  display: block;
  padding: 0;
  font-size: 18px;
}
.navItem a:hover{
  background-color: #A6CDD9;
  color: #348da8;
}
.subMenu{
  display: none;
}
.subMenu ul{
  margin: 0 0 0 auto;
}
.subMenu li{
  display: inline;
  margin: 1px 0;
  background-color: #348da8;
}
.subMenu a{
  display: block;
  font-size: 14px;
}
body{
  margin: 0;
  padding: 0;
  background-color: #d3e5eb;
}
.panelArea{
  width: 500px;
  margin: auto;
}


/* TODO 
ヘッダの中のコンテンツの高さを中央揃えにするのは諦める
その代わりナビは右下寄せにしたい