*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
ul,li{
  list-style: none;
  margin: 0;
}
header{
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 6px 3%;
}
.headerInner{
  display: flex;
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 0;
}
.branch-p{
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 1;
}
.brand{
  margin-top: 0;
  padding: 0 40px 0 0;
  display: inline-block;
  font-weight: bold;
  line-height: 1.5;
  font-size: 30px;
  color: #E8E5E5;
  background-color: #348da9;
}
.headNav{
  vertical-align: middle;
  align-items: flex-end;
  margin: 0 0 0 auto;
}
.headNav li{
  float: left;
  text-align: center;
  vertical-align: middle;
  width: 150px;
}
.headNav a{
  display: block;
  line-height: 2.5;
  color: #E8E5E5;
}
.navItem{
  position: relative;
  background-color: #348da9;
}
.navItem a {
  display: block;
  padding: 0;
  font-size: 18px;
}
.subMenu{
  display: none;
}
.subMenu li{
  display: inline;
}
.subMenu a{
  display: block;
  font-size: 14px;
}
body{
  margin: 0;
  padding: 0;
  background-color: rgb(245, 245, 245);
}


/* TODO 
ヘッダの中のコンテンツの高さを中央揃えにするのは諦める
その代わりナビは右下寄せにしたい